replicaCount: 1

image:
  repository: 818140567777.dkr.ecr.us-east-1.amazonaws.com/harness_boards_microservice
  tag: v1
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ecr-registry-secret

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

probes:
  liveness:
    httpGet:
      path: /actuator/health/liveness
      port: 8081
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    httpGet:
      path: /actuator/health/readiness
      port: 8081
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 3

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

blueGreen:
  enabled: true